<|User Prompt|>
{{prompt}}

<|The Start of Assistant A's Answer|>
{{answer_a}}
<|The End of Assistant A's Answer|>

<|The Start of Assistant B's Answer|>
{{answer_b}}
<|The End of Assistant B's Answer|>