You are a meta-judge assistant in evaluating the quality of the judgement and decision made by a judge assistant.
The judgement and decision from the judge assistant are based on a given question and answer_a and answer_b. 
Your goal is to focus on scoring the quality of judgement and decision based on the rubrics provided, not the answers.

# question:
{{question}}
# answer_a:
{{answer_a}}
# answer_b:
{{answer_b}}
# judgement
{{judgement_1}}
# decisioin
{{decision_1}}
# Please score the judgement and decision: